body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 840px;
  background-color: var(--color-secondary);
  font-family: "Poppins";
}
:root {
  --color-primary: #ff5f26;
  --color-secondary: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 80px 40px 80px;
  width: 1280px;
  height: 48px;
}

.nav-kanan ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  list-style-type: none;
}

main {
  width: 800px;
  height: 672px;
  border-radius: 12px;
  background-color: var(--color-secondary);
  box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
  margin: 0px 320px 40px 320px;
  padding-top: 40px;
}

.content1 {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.content1 > .content1-child1 {
  margin-top: -50px;
}

.content1-child1 :nth-child(1) {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
}

.content1-child1 :nth-child(2) {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  margin-top: -4px;
}

.content1-child1 :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-top: -5px;
  color: #7a7f83;
}

.content1 .content1-child2 > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 48px;
  border-radius: 60px;
  border: none;
  background-color: var(--color-primary);
  padding: 12px 15px;
  gap: 8px;
  margin-top: -5px;
}
.content1 .content1-child2 > button :nth-child(1) {
  width: 19.47px;
  height: 19.47px;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}

.content1 .content1-child2 > button :nth-child(2) {
  width: 121px;
  height: 24px;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 10px;
}

/* content 2 */
.content2 {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding: 0px 50px;
}

.content2 .content2-child1 {
  color: #7a7f83;
}

.content2 .content2-child2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content2 .content2-child2 > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  width: 136px;
}

.content2 .content2-child2 > button :nth-child(1) {
  width: 80px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}

.content2 .content2-child2 > button :nth-child(2) {
  filter: invert(24%) sepia(94%) saturate(7481%) hue-rotate(0deg)
    brightness(97%) contrast(106%);
}

/*  */

.content4 {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 10px;
  height: 140px;
}

.satu,
.dua,
.tiga {
  display: flex;
  gap: 10px;
  margin-top: -10px;
}
.satu > :nth-child(2),
.dua > :nth-child(2),
.tiga > :nth-child(2) {
  font-size: 14px;
  margin-top: 25px;
}
span {
  color: #7a7f83;
  margin-left: 50px;
}

.satu > :nth-child(3) {
  color: var(--color-primary);
  background-color: #ffebd3;
  padding: 8px 12px;
  border-radius: 50px;
  width: 66px;
  margin-left: 10px;
}

.dua > :nth-child(3) {
  color: var(--color-primary);
  background-color: #ffebd3;
  padding: 8px 12px;
  border-radius: 50px;
  width: 100px;
  margin-left: 10px;
}
.tiga > :nth-child(3) {
  color: var(--color-primary);
  background-color: #ffebd3;
  padding: 8px 12px;
  border-radius: 50px;
  width: 100px;
  margin-left: 10px;
}

.satu > button,
.dua > button,
.tiga > button {
  border: none;
  background-color: transparent;
}

.content4-2 {
  border: 1px solid #ccced2;
  border-radius: 8px;
}
.empat,
.lima,
.enam {
  display: flex;
  font-size: 12px;
}
.empat > p {
  margin-right: 100px;
  margin-left: 20px;
  margin-top: 20px;
}
.lima > p {
  margin-left: 20px;
  margin-top: -10px;
  margin-right: 95px;
}
.enam > p {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 95px;
}
.empat > button {
  border: none;
  background-color: transparent;
  margin-top: 10px;
}
.lima > button {
  border: none;
  background-color: transparent;
  margin-top: -20px;
}

.enam > button {
  border: none;
  background-color: transparent;
  margin-top: 0px;
}
.tiga {
  margin-top: -20px;
}

.empat {
  margin-right: 40px;
}

.lima {
  margin-top: 20px;
}
.lima > button > img {
  margin-right: -75px;
}

.enam > button > img {
  margin-right: -75px;
}

/*  */
.footer-line {
  border: 1px solid #ccced2;
  width: 720px;
  height: 0;
  margin-top: 250px;
  margin-left: 40px;
}
.footer-line :first-child {
  display: flex;
  gap: 10px;
}

.footer-line > div > button {
  transform: rotate(-90deg);
  border: none;
  background-color: transparent;
  margin-top: 10px;
  height: 24px;
}
.footer-line > div > p {
  font-weight: 500;
  color: #7a7f83;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.footer-line > div > button > img {
  background-color: none;
}

/*  */

@media (max-width: 430px) {
  header {
    width: 0px;
  }
  nav {
    margin: 0px;
    width: 400px;
    flex-direction: column;
    margin-bottom: 70px;
  }
  main {
    margin: 0px;
    width: 100%;
  }
  .footer-line {
    width: 300px;
  }
  .content4 {
    flex-direction: column;
  }
  .content4-2 {
    margin-left: -40px;
    width: 250px;
  }
  .content4-2 > .empat > button > img {
    margin-right: -20px;
  }
  .tiga :nth-child(2) {
    font-size: 12px;
  }
  .tiga :nth-child(3) {
    font-size: 10px;
    height: 10px;
    margin-top: 20px;
    margin-left: 5px;
    width: 60px;
  }
}
